{% extends "app/base.html" %}
{% load bootstrap5 %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script>
    function clearTooltips(event) {
        tooltipElements = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        tooltipElements.forEach(tooltipElement => {
            if (tooltipElement != event.target) {
                tooltip = bootstrap.Tooltip.getInstance(tooltipElement);
                if (tooltip) {
                    tooltip.hide();
                }
            }
        });
    }

    // from bootstrap documentation: https://getbootstrap.com/docs/5.0/components/tooltips/
    function initializeTooltips() {
        document.body.onclick = clearTooltips;
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }
    window.onload = initializeTooltips;

    function addIngredient() {
        // clear tooltips without checking event target (which is guaranteed not to be a delete button)
        tooltipElements = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        tooltipElements.forEach(tooltipElement => {
            tooltip = bootstrap.Tooltip.getInstance(tooltipElement);
            if (tooltip) {
                tooltip.hide();
            }
        });

        ingredients = document.getElementById("ingredients");
        new_ingredient = ingredients.lastElementChild.cloneNode(deep=true);

        ingredient_field    = new_ingredient.children[0].children[0].children[0];
        quantity_field      = new_ingredient.children[0].children[1].children[0];
        units_field         = new_ingredient.children[0].children[2].children[0];
        delete_button       = new_ingredient.children[0].children[3].children[0];

        ingredient_field.id = `ingredient${ingredient_count.value}`;
        ingredient_field.name = `ingredient${ingredient_count.value}`;
        quantity_field.id = `quantity${ingredient_count.value}`;
        quantity_field.name = `quantity${ingredient_count.value}`;
        units_field.id = `units${ingredient_count.value}`;
        units_field.name = `units${ingredient_count.value}`;
        delete_button.id = `delete${ingredient_count.value}`;
        delete_button.setAttribute("onclick", `deleteIngredient(${ingredient_count.value})`);

        ingredient_field.value = "";
        quantity_field.value = "";
        units_field.value = "";

        ingredients.appendChild(new_ingredient);
        ingredient_count.value = parseInt(ingredient_count.value) + 1;
        initializeTooltips();
    }

    function deleteIngredient(ingredient_num) {
        if (document.getElementById("ingredients").childElementCount > 1) {
            document.getElementById(`ingredient${ingredient_num}`).parentElement.parentElement.parentElement.remove();
        }
    }
</script>{% endblock scripts %}

{% block boostrap5_title %}A-05 Project Recipe Creation{% endblock boostrap5_title %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% block submit_url %}{% endblock submit_url %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <label for="recipe_name" class="form-label">Recipe Title:</label>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control" required value="{{recipe.name|default:""}}"><br>

                <label for="recipe_time" class="form-label">Time to Cook:</label>
                <input id="recipe_time" name="recipe_time" type="text" class="form-control" required value="{{recipe.time|default:""}}"><br>
            
                <label for="recipe_description" class="form-label">Recipe Description:</label>
                <textarea id="recipe_description" name="recipe_description" class="form-control" required>{{ recipe.description|default:"" }}</textarea><br>
            
                <!-- <label for="recipe_ingredients" class="form-label">Recipe Ingredients:</label>
                <textarea id="recipe_ingredients" name="recipe_ingredients" class="form-control" required></textarea><br> -->
                <label for="ingredients" class="form-label">Ingredients List</label>
                <div class="row">
                    <div class="col">Ingredient Name</div>
                    <div class="col-1">Quantity</div>
                    <div class="col-2">Units (e.g. cups, grams, mL)</div>
                    <div class="col-2"></div>
                </div>
                <div id="ingredients">{% for ingredient in recipe.ingredients.all %}
                    <div><div class="row">
                        <div class="col"><input   id="ingredient{{forloop.counter0}}" name="ingredient{{forloop.counter0}}" type="text" class="form-control" required value="{{ingredient.name}}"></div>
                        <div class="col-1"><input id="quantity{{forloop.counter0}}"   name="quantity{{forloop.counter0}}" type="number" class="form-control" required value="{{ingredient.amount}}"></div>
                        <div class="col-2"><input id="units{{forloop.counter0}}"      name="units{{forloop.counter0}}"      type="text" class="form-control" required value="{{ingredient.units}}"></div>
                        <div class="col-2 d-flex justify-content-end"><button id="delete{{forloop.counter0}}" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-trigger="click"
                            title="You must have at least one ingredient" onclick="deleteIngredient({{forloop.counter0}})">Delete Ingredient</button></div>
                    </div><br></div>
                {% empty %}
                    <div><div class="row">
                        <div class="col"><input id="ingredient0" name="ingredient0" type="text" class="form-control" required></div>
                        <div class="col-1"><input id="quantity0" name="quantity0" type="number" class="form-control" required></div>
                        <div class="col-2"><input id="units0" name="units0" type="text" class="form-control" required></div>
                        <div class="col-2 d-flex justify-content-end"><button id="delete0" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-trigger="click"
                            title="You must have at least one ingredient" onclick="deleteIngredient(0)">Delete Ingredient</button></div>
                    </div><br></div>
                    <div><div class="row">
                        <div class="col"><input id="ingredient1" name="ingredient1" type="text" class="form-control" required></div>
                        <div class="col-1"><input id="quantity1" name="quantity1" type="number" class="form-control" required></div>
                        <div class="col-2"><input id="units1" name="units1" type="text" class="form-control" required></div>
                        <div class="col-2 d-flex justify-content-end"><button id="delete1" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-trigger="click"
                            title="You must have at least one ingredient" onclick="deleteIngredient(1)">Delete Ingredient</button></div>
                    </div><br></div>
                    <div><div class="row">
                        <div class="col"><input id="ingredient2" name="ingredient2" type="text" class="form-control" required></div>
                        <div class="col-1"><input id="quantity2" name="quantity2" type="number" class="form-control" required></div>
                        <div class="col-2"><input id="units2" name="units2" type="text" class="form-control" required></div>
                        <div class="col-2 d-flex justify-content-end"><button id="delete2" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-trigger="click"
                            title="You must have at least one ingredient" onclick="deleteIngredient(2)">Delete Ingredient</button></div>
                    </div><br></div>
                {% endfor %}</div>
                <input id="ingredient_count" name="ingredient_count" type="hidden" value=3>
                <button id="add_ingredient" name="add_ingredient" type="button" class="btn btn-primary" onclick="addIngredient()">Add Ingredient</button><br>

                <label for="recipe_steps" class="form-label">Recipe Instructions:</label>
                <textarea id="recipe_steps" name="recipe_steps" class="form-control" required>{{ recipe.steps|default:"" }}</textarea><br>

                <label for="recipe_image"> Choose Picture (optional): </label>
                <input type="file" id="recipe_image" name="recipe_image" accept=".jpg, .jpeg, .png"> 
                
                <input type="submit" value="Post" class="btn btn-primary">
            </fieldset>
        </form>
    {% else %}
        <p>{% block not_signed_in_message %}{% endblock not_signed_in_message %}</p>
    {% endif %}
{% endblock content %}
