{% extends 'bootstrap5/bootstrap5.html' %}
{% load bootstrap5 %}

{% block bootstrap5_content %}
    <div class='container mt-5'>
        <nav class='navbar navbar-expand'>
            <a href="{% url 'app:index' %}" class='nav-link justify-content-start'>Home</a>
            <div class='collapse navbar-collapse justify-content-end'>
                {% if user.is_authenticated %}
                    <a href="{% url 'app:profile' %}" class='nav-link'>Profile</a>
                    <a href="accounts/logout" class='nav-link'>Logout</a>
                {% else %}
                    <a href="accounts/google/login">Login</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock content %}
    </div>
    <footer class='container text-center fixed-bottom mb-5'>&copy A-05, MIT License</footer>
{% endblock bootstrap5_content %}