{% extends 'app/base.html' %}
{% load bootstrap5 %}

{% block boostrap5_title %}A-05 Project Recipe Creation{% endblock boostrap5_title %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'app:submit_comment' recipe.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <label for='comment' class='form-label'>Comment Here:</label>
                <input id='comment' name="comment" type='text' class='form-control'><br>

                
                <input type="submit" name="post_comment" id="post_comment" value="Post" class='btn btn-primary'>
            </fieldset>
        </form>
    {% else %}
        <p>Please sign in first to comment</p>
    {% endif %}
{% endblock content %}
