{% extends 'app/base.html' %}
{% load bootstrap5 %}

{% block bootstrap5_title %}A-05 Project Recipe Detail{% endblock bootstrap5_title %}
{% block content %}
    <h2>{{ recipe.name }}</h2>
    {% if recipe.image %}
        <img src= "{{ recipe.image.url }}" style="max-width:100%;max-height:400px">
    {% endif %}
    
    <p>
        By: {{ recipe.author }}<br>
        {% if recipe.forked_from %}
            Forked from: <a href = "/detail/{{recipe.forked_from.id}}" >{{recipe.forked_from.name}} </a>
        {% endif %}
    </p>

    {% if user.is_authenticated %}
        {% if recipe not in user.liked_recipes.all %}
            <button name="like{{recipe.id}}" id="like{{recipe.id}}" class='btn btn-success' onclick="like({{recipe.id}})">Like</button>
        {% else %}
            <button name="unlike{{recipe.id}}" id="unlike{{recipe.id}}" class='btn btn-danger' onclick="unlike({{recipe.id}})">Unlike</button>
        {% endif %}
        <a href="../fork/{{recipe.id}}" class="btn btn-info"> Fork</a> <br>
        <a href="../comment/{{recipe.id}}" class="btn btn-warning"> Comment</a> <br>
    {% endif %}

    <p>Time to cook: {{recipe.time }}</p>

    <h3>Ingredients</h3>
    <p>{{ recipe.ingredients }}</p>

    <h3>Description</h3>
    <p>{{ recipe.description }}</p>

    <h3>Step-by-Step Instructions</h3>
    <p>{{ recipe.steps }}</p>

    <h3>Comments</h3>
    {% for comment in recipe.comments.all %}
        {% if user.is_authenticated and user == comment.author %}
            <p><strong>{{comment.author}}: </strong>{{ comment }} <a href="../delete/comment/{{comment.id}}" class="btn btn-danger"> Delete </a></p> 
        {% else %}
            <p><strong>{{comment.author}}: </strong>{{ comment }} </p>
        {% endif %}
    {% endfor %}
   

{% endblock content %}