{% extends 'app/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <ul class="list-group">
        {% for recipe in Recipes %}
            <li class="list-group-item">
                <a href="{% url 'app:detail' recipe.id %}">{{ recipe.name }}</a> <br>
                <b>Time to Cook: </b>{{ recipe.time }} <br>
                <b>Recipe Description: </b>{{ recipe.description }} <br>
                <b>Ingredients: </b>{{ recipe.ingredients }} <br>
                <b>Steps: </b>{{ recipe.steps }}
            </li>
        <br/>
        {% endfor %}
    </ul>
{% endblock content %}