{% extends 'bootstrap5/bootstrap5.html' %}
{% load bootstrap5 %}

{% block bootstrap5_content %}
   <center>  
    {% if searched %}
       <h1> You search for {{searched}} </h1>
       <br/> 
       {% if recipes%}
       {% for recipe in recipes %}
          <a href="{% url 'app:detail' recipe.id %}">{{ recipe }} </a> <br>
          - {% if recipe.image %} 
            <b>Photo: </b> 
            <b><img src= " {{ recipe.image.url }} " width="200px" height = "200px" ><br>
            {% endif %}
       {% endfor %}
       {% else %}
       <h1> No Recipe found </h1>
       {% endif%}
    {% else %}
       <h1> Sorry, you may forget to search a valid recipe </h1>
    {% endif %}
   </center>     
{% endblock bootstrap5_content %}
